<h1> Welcome To my test web Page</h1>
<%if current_user.present?%>  
	
  <%= image_tag(current_user.image.url (:medium))%>

	<h2> <%= current_user.email%> You are logged in  </h2>
	<%= link_to 'Logout' , destroy_user_session_path, method: :delete %>
<%else%>
	<h2> You are not logged in, Please log in</h2>
	<%= link_to 'signin' , new_user_session_path %>

	<%= link_to 'signup' , new_user_registration_path %>


<%end%>

